{{ render(controller('ZikulaAdminModule:Admin:adminheader')) }}
<h3>
	<span class="fa fa-bar-chart"></span> {{ __('Informations')}}
</h3>
<div class="container-fluid">
<div class="row">
<div class="col-sm-6">     
<h4>{{ __('Number of messages')}}</h4>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">{{ inbox }}</span>
    {{ __('Inbox')}}
  </li>
  <li class="list-group-item">
    <span class="badge">{{ outbox }}</span>
    {{ __('Outbox')}}
  </li>
  <li class="list-group-item">
    <span class="badge">{{ archive }}</span>
    {{ __('Archive')}}
  </li>  
</ul>
</div>
<div class="col-sm-6">
       
</div>    
</div>
</div>
{{ render(controller('ZikulaAdminModule:Admin:adminfooter')) }}
