{% extends 'ZikulaIntercomModule:Base:user.html.twig' %}
{% block header %}
    {% set settings='test' %}
    {{ parent() }}
    {{ pageAddAsset('stylesheet', zasset('@ZikulaIntercomModule:css/inbox.css')) }}
{% endblock %} 
{% block title %}
    {% set title_icon="<i class='fa fa-inbox'></i>" %}
    {% set title=__('Inbox') %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div id="intercom_inbox" class="col-md-12">    
        <div id="conversations" class="conversations-list list-group clearfix">  
            {{ include('ZikulaIntercomModule:Inbox:list.header.html.twig') }}
            {{ include('ZikulaIntercomModule:Inbox:list.html.twig') }}
            {{ include('ZikulaIntercomModule:Inbox:list.footer.html.twig') }}
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@ZikulaIntercomModule:js/Zikula.Intercom.inbox.manager.js')) }}
{% endblock %}