<div id="message-{{ message.id }}" class="list-group-item clearfix" style="background: #F2F8FF;">
    <div class="col-xs-9 col-md-2">
        <img width="30px" height="30px" src="/images/avatar/gravatar.jpg" alt="..." class="img-circle" /> {{ message.sender.uname == 0 ? message.recipient.uname : message.sender.uname }}      
    </div>
    <div class="col-xs-9 col-md-5"><i class="fa fa-comment text-muted"> </i> {{ message.subject }}</div>                 
    <div class="col-xs-12 col-md-2 text-muted"><i class="fa fa-clock-o"> </i> {{ message.send|date("m/d/Y") }}</div>                       
    <div class="col-xs-12 col-md-3">{{ include('ZikulaIntercomModule:Message:statuses.html.twig') }}</div> 
    <div class="col-md-12 clearfix" style="clear:both;">
        <div id="msgbody-{{ message.id }}" class="row collapse" >  
            <div class="col-md-12">                   
                {{ include('ZikulaIntercomModule:Inbox:list.message.details.html.twig') }}
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="btn-group btn-group-sm pull-right"> 
                            <a class="btn " role="button"  title="{{ __('Reply') }}">{{ __('Reply') }} <i class="fa fa-reply"></i></a>
                            <a class="btn text-danger" role="button" title="{{ __('Delete') }}"><i class="fa fa-trash"></i></a>                    
                            <a class="btn " role="button"  title="{{ __('Forward') }}"><i class="fa fa-share"></i></a>
                            <a class="btn text-success" role="button"  title="{{ __('Save') }}"><i class="fa fa-save"></i></a>
                            <a class="btn " role="button" title="{{ __('Print') }}"><i class="fa fa-print"></i></a> 
                        </div>
                    </div>         
                </div>
                <div class="row hide">
                    <div class="col-md-12">    
                        <textarea class="form-control" rows="3"></textarea>
                    <div class="col-xs-12 col-md-12">
                        <div class="btn-group btn-group-sm pull-right"> 
                            <a class="btn text-danger" role="button" title="{{ __('Cancel') }}">{{ __('Cancel') }} <i class="fa fa-undo"></i></a>                            
                            <a class="btn text-success" role="button"  title="{{ __('Send') }}">{{ __('Send') }} <i class="fa fa-share-square"></i></a>
                        </div>
                    </div>                          
                    </div>
                </div>    
            </div>   
        </div> 
    </div> 
</div>
