<div id="intercom_inbox_actions" class="list-group-item clearfix" style="background: #eee;">
    <div class="pull-right col-xs-12 col-md-3" role="group" aria-label="...">
        <div class="btn-group btn-group-sm pull-right">  
            <button type="button" class="btn text-danger" title="{{ __('Delete selected') }}"><i class='fa fa-trash'></i> </button>
            <button type="button" class="btn text-default" title="{{ __('Mark selected as read') }}"><i class='fa fa-eye'></i> </button>
            <button type="button" class="btn text-success" title="{{ __('Save selected') }}"><i class='fa fa-save'></i> </button>
            <button type="button" class="btn text-default" title="{{ __('Select all') }}"><i class='fa fa-check-square'></i> </button>
        </div>
    </div>
    <div id="intercom_inbox_statusbar" class="col-xs-12 col-md-9">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                60%
            </div>
        </div>
    </div>   
</div>
<div id="intercom_inbox_pager" class="list-group-item clearfix" style="background: #eee;">
    <nav>
        {% if maxPages > 1 %}
            <ul class="pagination pagination-sm">
                {# `«` arrow  #}
                <li {{ thisPage == 1 ? 'class="disabled"' }}>
                    <a href="{{ path('zikulaintercommodule_inbox_view', {page: thisPage-1 < 1 ? 1 : thisPage-1, 'sortby': sortby, 'sortorder': sortorder }) }}">«</a>
                </li>

                {# Render each page number #}
                {% for i in 1..maxPages %}
                    <li {{ thisPage == i ? 'class="active"' }}>
                        <a href="{{ path('zikulaintercommodule_inbox_view', {page: i, 'sortby': sortby, 'sortorder': sortorder}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {# `»` arrow #}
                <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                    <a href="{{ path('zikulaintercommodule_inbox_view', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage, 'sortby': sortby, 'sortorder': sortorder}) }}">»</a>
                </li>
            </ul>
        {% endif %}       
    </nav>
</div>