{% extends 'ZikulaIntercomModule:Base:user.html.twig' %}
{% block header %}
    {% set settings={} %}
    {{ parent() }}
    {{ pageAddAsset('stylesheet', zasset("@ZikulaIntercomModule:css/Layouts/Classic/common.css")) }}
    {{ pageAddAsset('stylesheet', zasset("@ZikulaIntercomModule:css/Layouts/Classic/#{box}.css")) }}
{% endblock %}
{% block title %}
    {% set title_icon="<i class='fa fa-#{box}'></i>" %}
    {% set title=__(box|capitalize) %}
    {{ moduleHeader('user', __('Messages'), '', true) }}
    {{ pageSetVar('title', title) }}
    <div class="row">
        <div id="intercom_title" class="col-md-5">
            <h1>{{ title_icon|raw }} {{ title }}</h1>
        </div>
        {{ include("@ZikulaIntercomModule/Layouts/Classic/#{box}/search.html.twig") }}
    </div>
{% endblock %}
{% block content %}
    {{ include("@ZikulaIntercomModule/Layouts/Classic/#{box}/header.html.twig") }}
    {{ include("@ZikulaIntercomModule/Layouts/Classic/#{box}/selected.html.twig") }}
    {# @todo change naming to messages #}
    <div id="conversations" class="conversations-list list-group clearfix">
        {{ include("@ZikulaIntercomModule/Layouts/Classic/#{box}/messages.html.twig") }}
    </div>
    {{ include("@ZikulaIntercomModule/Layouts/Classic/#{box}/footer.html.twig") }}
{% endblock %}
{% block footer %}
    {{ parent() }}
    {#{ dump() }#}
{% endblock %}
















