<div id="intercom">
    {% block header %}
        {{ pageAddAsset('stylesheet', zasset('@ZikulaIntercomModule:css/style.css')) }}
        {{ pageAddAsset('javascript', zasset('@ZikulaIntercomModule:js/Zikula.Intercom.settings.js')) }}
        <script>
            (function ($) {
                $(function () {
                    Zikula.Intercom.settings.set({{ settings|json_encode|raw }});
                });
            })(jQuery);
        </script>
    {% endblock %}
    {% block title %}
        {{ moduleHeader('user', __('Messages'), '', true) }}   
        <div id="intercom_title" class="row">
            <div class="col-md-12">
                <h1>{{ title_icon|raw }} {{ title }}</h1>
                {{ pageSetVar('title', title) }}
            </div>
        </div>
    {% endblock %} 
    <div id="intercom_content" class="row">
        {% block content %}       
        {% endblock %}
    </div>
    {% block footer %}
    {% endblock %}
</div>