<div data-id="{{ message.id }}" class="conversation list-group-item clearfix" style="{% if message.seen %} background: #F2F8FF; {% else %} background: #D3E7FF; {% endif %}">
    <div class="recipient col-xs-9 col-md-2">
        <img width="30px" height="30px" src="/images/avatar/gravatar.jpg" alt="..." class="img-circle" /> {{ message.recipient.uname == '' ? 'Unknown' : message.recipient.uname }}      
    </div>
    <div class="subject col-xs-12 col-md-5 {% if message.seen %} {% else %} text-info {% endif %}"><i class="fa fa-comment {% if message.seen %} text-muted {% else %} text-info {% endif %}"> </i> {{ message.subject }}</div>                 
    <div class="date col-xs-12 col-md-2 text-muted"><i class="fa fa-clock-o"> </i> {{ message.send|date("m/d/Y") }}</div>                       
    <div class="statuses col-xs-12 col-md-3">{{ include('@ZikulaIntercomModule/Layouts/Classic/archive/conversation.statuses.html.twig') }}</div> 

    <div class="details col-md-12 clearfix" style="clear:both;">
        <div id="conversation-body-{{ message.id }}" class="row collapse" >  
            <div class="col-md-12">                   

                {{ include('@ZikulaIntercomModule/Layouts/Classic/archive/conversation.messages.first.html.twig') }}
                <div class="conversation-actions row text-right">
                    <div class="col-xs-12 col-md-12">
                        <span class="small text-muted">{% if mode == 0 %}{{ __('Message options') }} {% else %} {{ __('Conversation options') }} {% endif %}</span>
                        <div class="btn-group btn-group-sm text-center"> 
                            <a data-id="{{ message.id }}" class="delete-conversation btn text-danger" role="button" title="{{ __('Delete') }}"><i class="fa fa-trash"></i></a>                    
                            <a data-id="{{ message.id }}" class="print-conversation btn " role="button" title="{{ __('Print') }}"><i class="fa fa-print"></i></a> 
                        </div>
                    </div>         
                </div>    

            </div>   
        </div> 
    </div> 
</div>