{% extends 'ZikulaIntercomModule:Base:user.html.twig' %}
{% block header %}
    {% set settings=settings %}
    {{ parent() }}
    {{ pageAddAsset('stylesheet', zasset('@ZikulaIntercomModule:css/Layouts/Classic/archive.css')) }}
{% endblock %} 
{% block title %}
    {% set title_icon="<i class='fa fa-archive'></i>" %}
    {% set title=__(box|capitalize) %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div id="intercom_outbox" class="col-md-12 clearfix">   
        {{ include("@ZikulaIntercomModule/Layouts/Classic/archive/header.html.twig") }}
        {{ include("@ZikulaIntercomModule/Layouts/Classic/archive/selected.html.twig") }}
        <div id="conversations" class="conversations-list list-group clearfix"> 
        {{ include('@ZikulaIntercomModule/Layouts/Classic/archive/conversation.list.html.twig') }}
        </div>    
        {{ include("@ZikulaIntercomModule/Layouts/Classic/archive/footer.html.twig") }}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {#{ dump() }#}
{% endblock %}