{% stylesheets '@ZikulaIntercomModule/Resources/public/css/*' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

{{ pageSetVar('title', __('Outbox')) }}

<div class="container-fluid">
    <div class="row">
        <h1><i class="fa fa-upload"></i> {{ __('Outbox') }}</h1>
    </div>
 
    <div class="list-group clearfix">  
        <div class="list-group-item col-md-12 clearfix" style="background: #eee;">
            <div class="col-xs-3 col-md-2">
                {{ __('Sender') }}                  
            </div>
            <div class="col-xs-2 col-md-4">
                {{ __('Subject') }}
                {%  if sortby == 'subject' %}
                {%  if sortorder == 'ASC' %}
                <a href="{{ path('zikulaintercommodule_user_inbox', {'sortby':'subject', 'sortorder':'DESC'}) }}"><i class='fa fa-sort-desc'></i></a>             
                {% else %}
                <a href="{{ path('zikulaintercommodule_user_inbox', {'sortby':'subject', 'sortorder':'ASC'}) }}"><i class='fa fa-sort-asc'></i></a>                
                {% endif %}    
                {% else %}
                <a href="{{ path('zikulaintercommodule_user_inbox', {'sortby':'subject', 'sortorder':'ASC'}) }}"><i class='fa fa-sort'></i></a>                
                {% endif %}   
            </div>             
            <div class="col-xs-2 col-md-2">
                {{ __('Date') }}
                {%  if sortby == 'send' %}
                {%  if sortorder == 'ASC' %}
                <a href="{{ path('zikulaintercommodule_user_inbox', {'sortby':'send', 'sortorder':'DESC'}) }}"><i class='fa fa-sort-desc'></i></a>             
                {% else %}
                <a href="{{ path('zikulaintercommodule_user_inbox', {'sortby':'send', 'sortorder':'ASC'}) }}"><i class='fa fa-sort-asc'></i></a>                
                {% endif %}  
                {% else %}
                <a href="{{ path('zikulaintercommodule_user_inbox', {'sortby':'send', 'sortorder':'ASC'}) }}"><i class='fa fa-sort'></i></a>                
                {% endif %}                   
            </div>
            <div class="col-xs-2 col-md-1">
                {{ __('Status') }}                 
            </div>      
            <div class="col-xs-2  col-md-2 pull-right text-right">                
                {{ __('Select all') }} <input type="checkbox" name="messageid" value="" /> 
            </div>
        </div>    
        {% for message in messages %}
        <div class="list-group-item col-md-12" style="background: #F2F8FF;">
            <div class="col-md-1"><i class="fa fa-user"> </i>         
    		{{ message.sender.uname == 0 ? message.recipient.uname : message.sender.uname }}      
            </div>
            <div class="col-md-1"><i class="fa fa-time"> </i> {{ message.send|date("m/d/Y") }}</div>                       
            <div class="col-md-3"><i class="fa fa-comment"> </i> {{ message.subject }}</div>          
            <div class="col-md-2"><i class="fa fa-time"> </i> </div>               
            <div class="col-xs-1 col-md-1 pull-right text-right">
                <a data-toggle="collapse" data-target="#msgbody-{{ message.id }}"  href="#"> <span class="fa fa-angle-down fa-2x" title="{gt text='Read'}"> </span></a>   
            </div> 
          <div id="msgbody-{{ message.id }}" class="col-md-12 collapse" >          
          </div> 
		</div>
        {% else %}
		    <div class="list-group-item col-md-12 alert alert-info">{{ __('You currently have no messages.') }}</div>               
        {% endfor %}   
        </div>
    
{# jquery autoincluded see \JCSSUtil::prepareJavascripts #}
{% javascripts '@ZikulaIntercomModule/Resources/public/js/*' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}