<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="conversation-reply-box">
            <div id="conversation-{{ message.id }}-reply" class="collapse">
                <div class="row">
                    <div class="col-md-3">
                        <a class="btn btn-sm small text-muted">{{ __('Reply to conversation') }}</a>
                    </div>
                    <div class="col-md-9">
                        <hr/>
                    </div>
                </div>
                <textarea class="message_ajax_reply form-control" rows="5"> {{ message.replyText }}  </textarea>
                <div class="col-xs-12 col-md-12">
                    <div class="btn-group btn-group-sm pull-right">
                        <a data-id="{{ message.id }}" class="cancel-reply btn text-danger" role="button" title="{{ __('Cancel') }}">{{ __('Cancel') }} <i class="fa fa-undo"></i></a>
                        <a data-id="{{ message.id }}" class="send-reply btn text-success" role="button"  title="{{ __('Send') }}">{{ __('Send') }} <i class="fa fa-share-square"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
