<div data-id="{{ message.id }}" class="conversation {% if message.getUserData() and message.getUserData().seen %}seen{% else %}{% endif %} list-group-item clearfix">
    <div class="row">
        <div class="col-xs-9 col-md-5">
            <div class="row">
                <div class="sender col-md-4">
                    {{ include('@ZikulaIntercomModule/Layouts/Classic/inbox/message.sender.html.twig') }}
                </div>
                <span class="subject">
                    {# @todo ajax version remove this and add data-toggle=collapse #}
                    <a href="{{ path('zikulaintercommodule_messages_readmessage', {'message': message.id }) }}"
                       data-toggle=""
                       data-seen="{#{{ message.seen is empty ? "false" : "true" }}#}"
                       data-id="{{ message.id }}"
                       class="conversation-details"
                       data-target="#conversation-body-{{ message.id }}">
                        {{ message.subject|truncate(15, true, "...")|capitalize }}
                    </a>
                </span>
            </div>
        </div>
        <div class="statuses col-xs-12 col-md-7">
            {{ include('@ZikulaIntercomModule/Layouts/Classic/inbox/message.statuses.html.twig') }}
        </div>
        <div class="details col-md-12 clearfix" style="clear:both;">
            <div id="conversation-body-{{ message.id }}" class="row collapse" >
                {{ include('@ZikulaIntercomModule/Layouts/Classic/inbox/message.content.html.twig') }}
                {{ include('@ZikulaIntercomModule/Layouts/Classic/inbox/message.options.html.twig') }}
                {{ include('@ZikulaIntercomModule/Layouts/Classic/inbox/message.conversation.html.twig') }}
                {{ include('@ZikulaIntercomModule/Layouts/Classic/inbox/message.reply.html.twig') }}
            </div>
        </div> 
    </div>
</div>