{% extends 'ZikulaIntercomModule:Base:user.html.twig' %}
{% block header %}
    {% set settings=settings %}
    {{ parent() }}
    {{ pageAddAsset('stylesheet', zasset('@ZikulaIntercomModule:css/inbox.css')) }}
{% endblock %} 
{% block title %}
    {% set title_icon="<i class='fa fa-sticky-note-o'></i>" %}
    {% set title=__('Compose new message') %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div id="intercom_inbox" class="col-md-12 clearfix">   
       {{ include('ZikulaIntercomModule:Message:form.html.twig') }}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {#{ pageAddAsset('javascript', zasset('@ZikulaIntercomModule:js/Zikula.Intercom.inbox.manager.js')) }}
    <script>
    (function($) {
            $(function(){
                Zikula.Intercom.InboxManager.init();  
            });
    })(jQuery);
    </script>
    {#{ dump() }#}
{% endblock %}